body {
  background-color: purple;
}

.bg_white {
  background-color: #fff;
}

.bg_grey {
  background-color: #F3F5F9;
}

.bg_gradient {
  background: #0575E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #021B79, #0575E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #021B79, #0575E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.btn_white {
  padding: 15px 25px;
  background-color: white;
  color: #0069FF;
  font-weight: 700;
  font-size: 16px;
}
.btn_white:hover,
.btn_white:focus,
.btn_white:active {
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.81);
  color: #0069FF;
  font-weight: 700;
  font-size: 16px;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_bottom_30 {
  padding-bottom: 30px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: yellow;
  width: 100%;
  height: 80px;
  line-height: 80px;
}

/* jumbo */
.jumbo {
  background-color: red;
  margin-top: 80px;
}

.text_wrapper {
  padding: 10px 0;
}

.form_container {
  background-color: white;
}

/* main */
/* sub-jumbo */
.sub_jumbo {}

#features {}

#slider {}

/* .slider_box {
  margin: 0 15px;
  } */
.slider_img {
  width: 80%;
}

/* .slider_img::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f054";
  color: red;
  width: 5%;
  display: inline-block;
  vertical-align: middle;

  } */
.border_white {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

#customers .container-fluid.border_white:not(first-child) {
  padding-top: 5px;
}

.footer {
  background-color: #0a1e45;
  color: #808794;
}

h5.footer_title {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.footer p {
  margin-bottom: 0;
}

.footer ul li a {
  color: #808794;
  font-size: 13px;
}

.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active {
  color: white;
  text-decoration: none;
}

i.social_footer {
  font-size: 20px;
}

/* media small */
@media screen and (max-width: 768px) {
  #business .col-xs-12 {
    padding-bottom: 30px;
  }

  .xs_padding_top_30 {
    padding-top: 30px;
  }
}

/* media medium */
@media screen and (min-width: 768px) {
  .md_padding_top_30 {
    padding-top: 30px;
  }
}

/* media lg */
@media screen and (min-width: 1200px) {
  .md_padding_top_30 {
    padding-top: 0;
  }
}
