body {
  background-color: purple;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

h3 {
  color: #0a1e45;
  font-size: 25px;
  font-weight: 700;
}

h4 {
  color: #939EB5;
  font-weight: 400;
  font-size: 15px;
}

h4.blue_bold {
  color: #0a1e45;
  font-weight: 700;
}

p {
  color: #838b9a;
}

.padding_top_80 {
  padding-top: 80px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_bottom_30 {
  padding-bottom: 30px;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_bottom_10 {
  padding-bottom: 10px;
}

.bg_white {
  background-color: #fff;
}

.bg_grey {
  background-color: #F3F5F9;
}

.link_blue {
  color: #0069FF;
}

a.link_blue:hover {
  color: #0069FF;
  text-decoration: none;
}

.bg_gradient {
  background: #0575E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #021B79, #0575E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #021B79, #0575E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.btn_menu {
  border: 0;
  box-shadow: none;
  font-size: 18px;
  color: #0069FF;
}

a.btn_menu {
  line-height: 80px;
  vertical-align: middle;
}

.btn_white_nav {
  padding: 10px 15px;
  background-color: white;
  color: #0069FF;
  font-size: 14px;
  border: 1px solid #0069FF;
}

.btn_white_nav:hover,
.btn_white_nav:focus,
.btn_white_nav:active {
  background-color: #0069FF;
  color: white;
}

.btn_white {
  padding: 15px 25px;
  background-color: white;
  color: #0069FF;
  font-weight: 700;
  font-size: 16px;
}

.btn_white:hover,
.btn_white:focus,
.btn_white:active {
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.81);
  color: #0069FF;
  font-weight: 700;
  font-size: 16px;
}

/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #FFFFFF;
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.header_top li:hover a {
  text-decoration: none;
  color: #0069FF;
}

.header_top ul li a {
  color: #033059;
  font-size: 15px;
  padding-right: 5px;
}

.logo_img {
  width: 140px;
}

/* jumbo */
.jumbo {
  background-image: url("../img/bg-home-1.jpg");
  background-size: cover;
  margin-top: 80px;
}

.jumbo .text_wrapper {
  padding: 10px 0;
}

.jumbo .text_wrapper p {
  line-height: 25px;
  color: rgb(222, 234, 242);
}

.color_blue {
  color: #0069FF;
}

.form_container {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}

.form_container p {
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 10px;
}

.form_container a {
  color: #4285F4;
  text-decoration: underline;
}

.form_line {
  margin-bottom: 10px;
}

.btn.btn_form {
  color: white;
  background-color: #4285F4;
  width: 100%;
}

.btn_form_grey {
  background-color: white;
  width: 100%;
  font-weight: 700;
  position: relative;
  -webkit-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.29);
  -moz-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.29);
  box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.29);
}

.btn.btn_form_grey img {
  width: 30px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  padding-left: 5px;
  transform: translateY(-50%);
}

/* main */
/* sub-jumbo */
.sub_jumbo h4 {
  text-transform: uppercase;
}

.sub_jumbo {
  line-height: 90px;
}

.sub_jumbo .logo_row {
  width: 80%;
  height: 80%;
}

/* features */
.list_wrapper {
  margin-left: 40px;
  border-left: 2px solid #F3F5F9;
  padding-left: 10px;
}

#features .list-unstyled li:not(:last-child) {
  padding-bottom: 10px;
}

#features .list-unstyled li a {
  color: #939EB5;
}

#features .list-unstyled li a:hover {
  text-decoration: none;
}

/* slider */
.chevron_slider {
  font-size: 25px;
  color: #838b9a;
}

.chevron_right {
  color: #0A1E45;
}

.slider_img {
  width: 80%;
  padding: 20px 15px;
}

.border_white {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

/* sezione business */
/* sezione customers */
#customers .container-fluid.border_white:not(:first-child) {
  padding-top: 5px;
}

#customers h3 {
  color: white;
}

#customers a {
  color: #00D7D2;
  text-decoration: none;
}

/* sezione slider 2 */
.slider-box_2 {
  position: relative;
}

#slider2 .chevron_slider.chevron_left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

#slider2 .chevron_slider.chevron_right {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translateY(-50%);
}

.container_70 {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.container_70 img {
  width: 30%;
}

.container_70 h4 {
  font-weight: 700;
}

.container_70 h6 {
  font-weight: 700;
  color: #0A1E45;
  font-size: 14px;
}

.container_70 p {
  color: #0A1E45;
}

/* sezione footer */
.footer {
  background-color: #0a1e45;
  color: #808794;
}

h5.footer_title {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.footer p {
  margin-bottom: 0;
}

.footer ul li {
  padding-bottom: 10px;
}

.footer ul li a {
  color: #808794;
  font-size: 13px;
}

.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active {
  color: white;
  text-decoration: none;
}

i.social_footer {
  font-size: 20px;
}

/* media small */
@media screen and (max-width: 768px) {
  .xs_padding_top_30 {
    padding-top: 30px;
  }

  .xs_margin_bottom_30 {
    margin-bottom: 30px;
  }

  #business .col-xs-12 {
    padding-bottom: 30px;
  }

  .list_wrapper {
    margin-left: 0;
    border-left: 2px solid #F3F5F9;
    padding-left: 10px;
  }
}

/* media medium */
@media screen and (min-width: 768px) {
  .md_padding_top_30 {
    padding-top: 30px;
  }

  .md_padding_bottom_30 {
    padding-bottom: 30px;
  }

  .md_margin_bottom_30 {
    margin-bottom: 30px;
  }

  .list_wrapper {
    margin-left: 0;
    border-left: 2px solid #F3F5F9;
    padding-left: 10px;
  }
}

/* media lg */
@media screen and (min-width: 1200px) {
  .md_padding_top_30 {
    padding-top: 0;
  }
}
